@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer ViewLocalization

@model Aurochses.IdentityServer.WebSite.Models.TwoFactorSignIn.VerifyCodeViewModel

@{
    ViewData["Title"] = ViewLocalization["Page.Title"];

    var modelState = ViewData.ModelState;
}

@section PageHeader
{
    @ViewLocalization["Page.Header"]
}

<form asp-controller="TwoFactorSignIn" asp-action="VerifyCode" asp-route-returnurl="@Model.ReturnUrl" method="post">

    @if (!modelState.IsValid)
    {
        if (modelState.ContainsKey("InvalidCode"))
        {
            <div class="alert alert-warning" role="alert">
                <h5 class="alert-heading">
                    @ViewLocalization["InvalidCode.Header"]
                </h5>

                <ul>
                    <li>@ViewLocalization["InvalidCode.Error"]</li>
                </ul>
            </div>
        }
    }

    <input asp-for="Provider" type="hidden" />

    <input asp-for="RememberMe" type="hidden" />

    <div class="form-group row">
        <label asp-for="Token" class="col-md-3 col-form-label"></label>

        <div class="col-md-9">
            <input asp-for="Token" class="form-control" />

            <div asp-description-for="Token" class="text-secondary"></div>

            <div class="invalid-tooltip">
                <span asp-validation-for="Token"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <div class="form-check">
                <input asp-for="RememberBrowser" class="form-check-input" />

                <label asp-for="RememberBrowser" class="form-check-label"></label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <button class="btn btn-primary" type="submit">
                @ViewLocalization["Form.Button.Submit"]
            </button>

            <a class="btn btn-light" href="@Url.Action("Index", "Home")" role="button">
                @ViewLocalization["Form.Button.Cancel"]
            </a>
        </div>
    </div>
</form>