@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer ViewLocalization

@model Aurochses.IdentityServer.WebSite.Models.Registration.RegistrationViewModel

@{
    ViewData["Title"] = ViewLocalization["Page.Title"];

    var modelState = ViewData.ModelState;
}

@section PageHeader
{
    @ViewLocalization["Page.Header", ViewData["LoginProvider"]]
}

<form asp-controller="ExternalLogin" asp-action="Registration" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    
    @if (!modelState.IsValid)
    {
        <div class="alert alert-warning" role="alert">
            <h5>
                <strong>@ViewLocalization["Errors.Header"]</strong>
            </h5>
            
            <div asp-validation-summary="ModelOnly"></div>
        </div>
    }

    <div class="form-group">
        <label asp-for="Email" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <input asp-for="Email" class="form-control"/>

                    <div class="help-block">
                        <div asp-description-for="Email"></div>
                    </div>
                </div>
                <div class="help-block col-md-6 col-sm-12">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <input asp-for="Password" class="form-control"/>

                    <div class="help-block">
                        <div asp-description-for="Password"></div>
                    </div>
                </div>
                <div class="help-block col-md-6 col-sm-12">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <input asp-for="ConfirmPassword" class="form-control"/>

                    <div class="help-block">
                        <div asp-description-for="ConfirmPassword"></div>
                    </div>
                </div>
                <div class="help-block col-md-6 col-sm-12">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <input asp-for="FirstName" class="form-control"/>

                    <div class="help-block">
                        <div asp-description-for="FirstName"></div>
                    </div>
                </div>
                <div class="help-block col-md-6 col-sm-12">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <input asp-for="LastName" class="form-control"/>

                    <div class="help-block">
                        <div asp-description-for="LastName"></div>
                    </div>
                </div>
                <div class="help-block col-md-6 col-sm-12">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
            <recaptcha/>

            <div id="recaptchaErrorMessage" class="text-danger"></div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            @ViewLocalization["Form.Information", ViewData["LoginProvider"], ViewLocalization["Form.Button.Submit"]]
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
            <button class="btn btn-primary" type="submit">
                @ViewLocalization["Form.Button.Submit"]
            </button>
            <a class="btn btn-default" href="@Url.Action("Index", "Home")">
                @ViewLocalization["Form.Button.Cancel"]
            </a>
        </div>
    </div>
</form>

@section Scripts {
    @* ReSharper disable once Html.TagNotResolved *@
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
}