@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer ViewLocalization

@model Aurochses.IdentityServer.WebSite.Models.Registration.RegistrationViewModel

@{
    ViewData["Title"] = ViewLocalization["Page.Title"];

    var modelState = ViewData.ModelState;
}

@section PageHeader
{
    @ViewLocalization["Page.Header", ViewData["LoginProvider"]]
}

<form asp-controller="ExternalLogin" asp-action="Registration" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    
    @if (!modelState.IsValid)
    {
        <div class="alert alert-warning" role="alert">
            <h5 class="alert-heading">
                @ViewLocalization["Errors.Header"]
            </h5>
            
            <p>
                <div asp-validation-summary="ModelOnly"></div>
            </p>
        </div>
    }

    <div class="form-group row">
        <label asp-for="Email" class="col-md-3 col-form-label"></label>

        <div class="col-md-9">
            <input asp-for="Email" class="form-control" />

            <div asp-description-for="Email" class="text-secondary"></div>

            <div class="invalid-tooltip">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Password" class="col-md-3 col-form-label"></label>

        <div class="col-md-9">
            <input asp-for="Password" class="form-control" />

            <div asp-description-for="Password" class="text-secondary"></div>
            
            <div class="invalid-tooltip">
                <span asp-validation-for="Password"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="ConfirmPassword" class="col-md-3 col-form-label"></label>

        <div class="col-md-9">
            <input asp-for="ConfirmPassword" class="form-control" />
            
            <div asp-description-for="ConfirmPassword" class="text-secondary"></div>

            <div class="invalid-tooltip">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="FirstName" class="col-md-3 col-form-label"></label>
        
        <div class="col-md-9">
            <input asp-for="FirstName" class="form-control" />

            <div asp-description-for="FirstName" class="text-secondary"></div>

            <div class="invalid-tooltip">
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>
    </div>
    
    <div class="form-group row">
        <label asp-for="LastName" class="col-md-3 col-form-label"></label>
        
        <div class="col-md-9">
            <input asp-for="LastName" class="form-control" />

            <div asp-description-for="LastName" class="text-secondary"></div>

            <div class="invalid-tooltip">
                <span asp-validation-for="LastName"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <recaptcha/>

            <div id="recaptchaErrorMessage" class="text-danger"></div>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-6 offset-md-3">
            @ViewLocalization["Form.Information", ViewData["LoginProvider"], ViewLocalization["Form.Button.Submit"]]
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <button class="btn btn-primary" type="submit">
                @ViewLocalization["Form.Button.Submit"]
            </button>

            <a class="btn btn-light" href="@Url.Action("Index", "Home")" role="button">
                @ViewLocalization["Form.Button.Cancel"]
            </a>
        </div>
    </div>
</form>

@section Scripts {
    @* ReSharper disable once Html.TagNotResolved *@
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
}