@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer ViewLocalization

@{
    Layout = "_Layout";

    var returnUrl = string.Empty;
    if (ViewData["ReturnUrl"] != null)
    {
        returnUrl = ViewData["ReturnUrl"].ToString();
    }
}

@section PageHeader
{
    @RenderSection("PageHeader")
}

<div class="jumbotron text-center">
    <p>
        @RenderSection("Icon")
    </p>

    @RenderBody()

    <hr />

    <p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Home", new { ReturnUrl = ViewData["ReturnUrl"] })" role="button">@ViewLocalization["Button.Home"]</a>

        @RenderSection("Buttons", false)
    </p>
</div>

@if (!string.IsNullOrEmpty(returnUrl))
{
    <div class="alert alert-info" role="alert">
        <a href="@returnUrl">@returnUrl</a>
    </div>
}

@await Component.InvokeAsync("Help")