@using Aurochses.AspNetCore.Html

@{
    var projectNameContent = await Component.InvokeAsync("ProjectName");
    var projectName = projectNameContent.GetString();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        @if (ViewData["Title"] != null)
        {
            <text>
            @ViewData["Title"] | @projectName
            </text>
        }
        else
        {
            <text>
            @projectName
            </text>
        }
    </title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="~/">
            <img src="~/images/logotype.png" class="icon-banner" alt="@projectName">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            @await Html.PartialAsync("Layout/SignInPartial")
        </div>
    </nav>

    <div class="container pt-4">
        <h1 class="display-3 pb-4">@RenderSection("PageHeader")</h1>

        @RenderBody()
    </div>

    <script src="~/js/jquery/jquery.js"></script>
    <script src="~/js/jquery-validation/jquery.validate.js"></script>
    <script src="~/js/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/jquery-validation-unobtrusive-bootstrap/jquery.validate.unobtrusive.bootstrap.js"></script>
    <script src="~/js/popper.js/popper.js"></script>
    <script src="~/js/bootstrap/bootstrap.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>