@using Aurochses.AspNetCore.Html
@using Aurochses.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer ViewLocalization

@inject SignInManager<ApplicationUser> SignInManager

@model Aurochses.IdentityServer.WebSite.Models.SignIn.SignInViewModel

@{
    ViewData["Title"] = ViewLocalization["Page.Title"];

    var projectNameContent = await Component.InvokeAsync("ProjectName");
    var projectName = projectNameContent.GetString();

    var modelState = ViewData.ModelState;

    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
}

@section PageHeader
{
    @ViewLocalization["Page.Header"]
}

<div class="row">
    
    <div class="col-md-6">
        <form asp-controller="SignIn" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <h4 class="pb-3">
                @ViewLocalization["SignIn.Header", projectName]
            </h4>
            
            @if (!modelState.IsValid)
            {
                if (modelState.ContainsKey("InvalidLoginAttempt"))
                {
                    <div class="alert alert-warning" role="alert">
                        <h5 class="alert-heading">
                            @ViewLocalization["InvalidLoginAttempt.Header"]
                        </h5>
                        
                        <ul>
                            <li>@ViewLocalization["InvalidLoginAttempt.Error.UserName"]</li>
                            <li>@ViewLocalization["InvalidLoginAttempt.Error.Language"]</li>
                            <li>@ViewLocalization["InvalidLoginAttempt.Error.CapsLock"]</li>
                        </ul>
                    </div>
                }
            }

            <div class="form-group row">
                <label asp-for="Email" class="col-md-3 col-form-label"></label>

                <div class="col-md-9">
                    <input asp-for="Email" class="form-control" />

                    <div class="invalid-tooltip">
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Password" class="col-md-3 col-form-label"></label>

                <div class="col-md-9">
                    <input asp-for="Password" class="form-control" />

                    <div class="invalid-tooltip">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    <div class="form-check">
                        <input asp-for="RememberMe" class="form-check-input" />

                        <label asp-for="RememberMe" class="form-check-label"></label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    <button type="submit" class="btn btn-primary">@ViewLocalization["Form.Button.Submit"]</button>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    <div>
                        @ViewLocalization["RemindPassword.Information"]
                        <a asp-controller="RemindPassword" asp-action="Index">@ViewLocalization["RemindPassword.Link.Text"]</a>
                    </div>

                    <div>
                        @ViewLocalization["Registration.Information", projectName]
                        <a asp-controller="Registration" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]">@ViewLocalization["Registration.Link.Text"]</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <h4 class="pb-3">
            @ViewLocalization["SocialSignIn.Header"]
        </h4>

        @if (loginProviders.Count == 0)
        {
            <div class="text-danger">
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </div>
        }
        else
        {
            <form asp-controller="ExternalLogin" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div>
                    <p>
                        @foreach (var provider in loginProviders)
                        {
                            <button type="submit" class="btn btn-light" name="provider" value="@provider.Name" title="@ViewLocalization["SocialSignIn.Button.Title", provider.DisplayName]">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        }
    </div>

</div>