@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer ViewLocalization

@model Aurochses.IdentityServer.WebSite.Models.EmailConfirmation.EmailConfirmationViewModel

@{
    ViewData["Title"] = ViewLocalization["Page.Title"];
}

@section PageHeader
{
    @ViewLocalization["Page.Header"]
}

<form asp-controller="EmailConfirmation" asp-action="Index" method="post">
    <div class="form-group row">
        <label asp-for="Email" class="col-md-3 col-form-label"></label>
        <div class="col-md-9">
            <input asp-for="Email" class="form-control" />

            <div asp-description-for="Email" class="text-secondary"></div>

            <div class="invalid-tooltip">
                <span asp-validation-for="Email"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <recaptcha />
            
            <div id="recaptchaErrorMessage" class="text-danger"></div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 offset-md-3">
            @ViewLocalization["Form.Information"]
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <button class="btn btn-primary" type="submit">
                @ViewLocalization["Form.Button.Submit"]
            </button>
            <a class="btn btn-light" href="@Url.Action("Index", "Home")" role="button">
                @ViewLocalization["Form.Button.Cancel"]
            </a>
        </div>
    </div>
</form>

@section Scripts {
    @* ReSharper disable once Html.TagNotResolved *@
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
}